@font-face {
    font-family: "TWK Lausanne";
    src: url("assets/fonts/TWKLausanne-300.ttf");
    font-weight: 300;
}

@font-face {
    font-family: "TWK Lausanne";
    src: url("assets/fonts/TWKLausanne-700.ttf");
    font-weight: 700;
}

@font-face {
    font-family: "Redaction";
    src: url("assets/fonts/Redaction-Italic.otf");
    font-style: italic;
}

body {
    font-family: "TWK Lausanne", sans-serif;
    background: #F1F1F1;
    /* font-size: 18px; */
}

h1, h2, h3, h4 {
    font-weight: 700;
}

a, a:visited, a:focus {
    text-decoration: underline !important;
}

em {
    font-weight: 700;
    font-style: normal;
}

.jumbotron-custom {
    display: flex;
    flex-wrap: wrap;
    height: 95vh;
    align-items: end;
    margin-bottom: 2rem;
    padding-bottom: 2rem;
    font-size: 0.9rem;
    background: rgb(61,130,255);
    background: linear-gradient(180deg, rgba(61,130,255,1) 0%, rgba(241,241,241,1) 60%); 
}

.jumbotron-custom h4 {
    font-size: 1rem;
    text-transform: uppercase;
}

.jumbotron-custom .logo {
    margin: 12px;
    margin-bottom: 2rem;
    /* mix-blend-mode: exclusion; */
}

.jumbotron-custom .details {
    font-size: 1.1rem;
    font-weight: 700;
}

#gallery > div {
    margin-right: 2rem;
    margin-bottom: 2rem;
    text-align: center;
}

.jumbotron-gallery {
    display: flex;
    flex-wrap: wrap;
    align-items: end;
    justify-content: center;
    margin-bottom: 2rem;
}

.jumbotron-gallery img {
    margin-bottom: 0.2rem;
}

.jumbotron-gallery p {
    margin-bottom: 0;
    font-size: 0.8rem;
    text-align: center;
}

.sticky-top {
    z-index: 1020; /* Adjusted for Bootstrap 5, if necessary */
}

.logo-parade img {
    height: 60px;
    width: auto;
    margin-top: 1rem;
    margin-right: 3rem;
}

.card-custom * {
    background: none;
    border: none;
}

.card-custom .card-body {
    border: none;
    background: transparent;
    padding: 0;
    padding-bottom: 1.5rem;
}

.card-custom h5 {
    font-weight: 700;
}

.custom-style {
    font-size: 1rem;
}

.cover {
    width: auto;
    height: 150px;
    background-size: cover;
    background-position: 50% 50%;
}

.card-img-top {
    width: 100%; /* Assicurati che l'immagine riempia la larghezza del contenitore della card */
    height: 300px; /* Imposta un'altezza fissa per fare in modo che l'immagine venga croppata */
    object-fit: cover; /* Assicura che l'immagine copra completamente lo spazio disponibile, venendo croppata se necessario */
    margin-bottom: 1rem;
    border-radius: 2px;
}

.algo-nav {
    padding: 0.5rem 0 0 0;
    background: rgb(61,130,255);
    -webkit-box-shadow: 0px 0px 10px 15px rgb(61,130,255); 
    box-shadow: 0px 0px 10px 15px rgb(61,130,255);
    font-size: 1rem;
}

.algo-nav .navbar-brand {
    font-size: 1rem;
    text-decoration: none;
    font-weight: 700;
    text-decoration: none !important;
}

.navbar a {
    text-decoration: underline;
}  

footer {
    font-size: 0.9rem;
    margin: 5rem 0 2rem 0;
}

footer ul {
    padding: 0;
}

footer li {
    list-style: none;

}

@media only screen and (max-width: 768px) {
    .jumbotron-custom .logo {
        margin-bottom: 2rem;
        /* mix-blend-mode: exclusion; */
    }

    .custom-style {
        font-size: 1rem;
    }

    #gallery > div {
        margin-right: 0;
    }
  }